.wrapper {
	width: 50%;
	margin: 30% auto;
}

.preloader {
	display: flex;
	position: fixed;
	width: 100%;
	font-size: 60px;
	text-align: center;
	top: 0; right: 0;left: 0;bottom: 0;
	background-color: #5af458;
	z-index: 9999;
}

.preloader i.fa{
	margin: auto;
}